<h1>Home Page</h1>

<p>Coded By : Payal Amarnani</p>

<p>3 Pages accessible via top navigation</p>

<p><strong>Home page </strong>- Current page</p>
<p><strong>All Products</strong>-Catalog Page with details of products. Search Functionality</p>
<p><strong>Admin Page</strong> -To View all products and conduct admin actions such as Edit, Add, Delete</p>

