<h1>Home Page</h1>

<p>Coded By : Payal Amarnani</p>

<p>3 Pages accessible via top navigation</p>

<p>All Products- Catalog Page with details of products</p>
<p>Admin Page- To VIew all products and conduct admin actions such as Edit, Add, Delete</p>
<p>Home page- Current page</p>
